.App {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main content area */
.App-content {
  padding: 20px;
  width: 95%;
  margin-top: 60px; /* Added margin to fix overlap problem with NavBar */
}

/* NavBar styling: NavBar is on the top and stays in position */
.NavBar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* For the Outdoor GPS container */
#google-map-container {
    height: 70vh;
    min-height: 400px;
    max-height: 70vh;
    width: calc(80% - 20px); /* Adjust width to prevent overlap */
    margin-top: 10px; /* Add space under NavBar */
    overflow: hidden; /* Fix overflow problem */
}

/* For the Indoor GPS container */
#mapbox-container {
    height: 70vh;
    min-height: 400px;
    max-height: 70vh;
    width: calc(100% - 20px); /* Adjust width to prevent overlap */
    margin-top: 10px; /* Add space under NavBar */
    overflow: hidden; /* Fix overflow problem */
}
